# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.TestProject.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Local Disk (D)\Projects\C#\WPF\TestProject\.idea\.idea.TestProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
